/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/08/2015, 12:21:59 PM
    Author     : Mauricio
*/

.alert-modify
{
    position: fixed;
    width: 40%;
    text-align: center;
    margin-left: 50%;
    margin-right: 10%;
    top: 25%;
    z-index:2;
    
    
    visibility: hidden;
    transition-property:visibility;
    transition-duration: 4s, 4s; 
    
    /*transition: property duration timing-function delay;*/

}