/*
Theme Name: iDea - Clean & Powerful Bootstrap Theme
Author: HtmlCoder
Author URI: http://www.htmlcoder.me
Author e-mail: htmlcoder.me@gmail.com
Version: 1.3
Created: September 2014
License URI: http://support.wrapbootstrap.com/
File Description: Cyan Skin
*/

/* 1 Typography
----------------------------------------------------------------------------- */
a, .text-default {
    color: #51A5D7;
}
a:hover,
a:focus {
    color: #51A5D7;
}
mark,
.mark {
    background-color: #009798;
    color: #ffffff;
}
.table > thead > tr > th {
    border-bottom: 1px solid #009798;
    background-color: #009798;
    color: #fff;
}
.table-bordered {
    border-color: #009798;
}

/* 2 Layout
----------------------------------------------------------------------------- */
.default-bg {
    background-color: #009798;
    color: #ffffff;
}

/* Backgrounds
---------------------------------- */
.default-translucent-bg:after {
    background-color: rgba(0,151,152,0.7);
}

/* 3 Pages
----------------------------------------------------------------------------- */
.blogpost .post-info {
    background-color: #009798;
    color: #fff;
}
.blogpost .side .social-links li a {
    background-color: transparent;
    border-color: transparent;
    color: #009798;
}
.blogpost ul.links li a:hover {
    color: #009798;
}

/* timeline layout */
.timeline-date-label {
    color: #009798;
}
@media (min-width:768px) {
    .timeline .timeline-item:before {
        background-color: #fff;
        border: 1px solid #009798;
    }
}

/* 4 Template Components
----------------------------------------------------------------------------- */
/* Buttons
---------------------------------- */

.btn-success
{
    background-color: #289fb7;
    border-color: #289fb7;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success
{
    background-color: #20889b;
    border-color: #20889b;
}

.btn-warning
{
    background-color: #F09A00;
    border-color: #F09A00;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning
{
    background-color: #d68900;
    border-color: #d68900;
}



/* Gray Buttons */
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    color: #ffffff;
    background-color: #009798;
    border-color: #009798;
}

/* Light Gray Buttons */
.btn-light-gray:hover,
.btn-light-gray:focus,
.btn-light-gray:active,
.btn-light-gray.active,
.open .dropdown-toggle.btn-light-gray {
    color: #ffffff;
    background-color: #009798;
    border-color: #009798;
}

/* Default Buttons */
.btn-default {
    background-color: #51A5D7;
    color: #fff !important;
    border-color: #51A5D7;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #fff !important;
    background-color: #458db7;
    border-color: #458db7;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
    background-color: #008686;
    border-color: #008686;
}

/* Button with transparent bg
---------------------------------- */
.btn-white {
    background-color: transparent;
    color: #008686;
    border: 1px solid #009798;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: #fff;
    background-color: #008686;
    border-color: #008686;
}

/* Button background transitions
---------------------------------- */
.hvr-sweep-to-right:before,
.hvr-sweep-to-left:before,
.hvr-sweep-to-bottom:before,
.hvr-sweep-to-top:before,
.hvr-bounce-to-right:before,
.hvr-bounce-to-left:before,
.hvr-bounce-to-bottom:before,
.hvr-bounce-to-top:before,
.hvr-radial-out:before,
.hvr-rectangle-out:before,
.hvr-shutter-out-horizontal:before,
.hvr-shutter-out-vertical:before {
    background: #008686;
}

/* Forms
---------------------------------- */
.default-bg .form-control {
    border-color: #009798;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
    color: #ffffff;
}
.default-bg .form-control:focus {
    border-color: #009798;
    background-color: rgba(0, 0, 0, 0.25);
}
.default-bg .input-group-addon {
    background-color: #008686;
    border-color: #009798;
    color: #fff;
}
.dropdown .active>a>.badge,
.dropdown a:hover .badge,
.dropdown .open > a > .badge {
    border-color: #009798;
}

/* Pager
---------------------------------- */
ul.pagination li > a:hover {
    background-color: transparent;
    color: #ffffff;
    background-color: #009798;
    border-color: #009798;
}
ul.pagination li.active a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
    color: #ffffff;
    background-color: #009798;
    border-color: #009798;
}

/* Tabs
---------------------------------- */
.nav-tabs > li.active > a:after {
    background-color: #ffffff !important;
}
.tab-content:after {
    background-color: #009798;
}
@media (max-width:480px) {
    .nav-tabs > li > a:hover:after {
        background-color: #009798;
    }
}

/* Horizontal tabs version 2 */
.tabs-style-2 .nav-tabs {
    border-bottom: 1px solid #009798;
}
.tabs-style-2 .nav-tabs > li.active > a,
.tabs-style-2 .nav-tabs > li.active > a:hover,
.tabs-style-2 .nav-tabs > li.active > a:focus,
.tabs-style-2 .nav-tabs > li > a:hover {
    border: 1px solid #009798;
    background-color: #009798;
    color: #fff;
}

/* vertical tabs */
.vertical .nav-tabs > li > a:hover:after {
    background-color: #009798;
}

/* Nav pills
---------------------------------- */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    border: 1px solid #f3f3f3;
    color: #009798;
    background-color: #fafafa;
}
.nav-pills > li.active > a:after {
    color: #009798;
}
.nav-pills > li.active > a:hover:after,
.nav-pills > li.active > a:focus:after,
.nav-pills > li > a:hover:after,
.nav-pills > li > a:focus:after {
    color: #009798;
}
.light .footer-content .nav-pills > li.active > a:hover,
.light .footer-content .nav-pills > li > a:hover {
    color: #008686;
}
.nav-pills > .active > a > .badge {
    color: #009798;
    background-color: #fff;
    border-color: #009798;
}
/* Collapse
---------------------------------- */
.panel-heading a {
    background-color: #b6dde8;
    color: #ffffff;
}
.panel-heading a:hover,
.panel-transparent .panel-heading a:hover {
    background-color: #90b7b7;
    color: #ffffff;
}

/* Progress bars
---------------------------------- */
.progress-bar-default {
    background-color: #009798;
}

/* Modals
---------------------------------- */
.modal-content .modal-header {
    background-color:white;
}

/* Images and Images overlay
---------------------------------- */
.overlay a {
    color: #009798;
    background-color: #ffffff;
}
.overlay-links a + a {
    color: #ffffff;
    background-color: #009798;
}
a.overlay i {
    color: #009798;
}

/* 5 Navigations
----------------------------------------------------------------------------- */
/* first level active menu items on hover/focus */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
    color: #009798;
    background-color: transparent;
}

.main-navigation .navbar-nav > .open > a,
.main-navigation .navbar-nav > .open > a:hover,
.main-navigation .navbar-nav > .open > a:focus {
    color: #666666;
    background-color: #fafafa;
}

/* second level menu items on focus/hover and when opened */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu .menu > .active > a,
.dropdown-menu .menu > .active > a:hover,
.dropdown-menu .menu > .active > a:focus {
    background-color: #ffffff;
    color: #009798;
    border-color: #f1f1f1;
}
#offcanvas .nav .open > a,
#offcanvas .nav .open > a:hover,
#offcanvas .nav .open > a:focus,
#offcanvas .nav > li > a:hover,
#offcanvas .nav > li > a:focus,
#offcanvas .navbar-nav > li.active > a {
    color: #009798;
    background-color: #ffffff;
}

/* mega menu menu items on focus/hover and when opened */
.mega-menu .menu > li > a:hover,
.mega-menu .menu > li > a:focus {
    background-color: #ffffff;
    color: #009798;
    border-color: #f1f1f1;
}

/* arrows for parent menu items */
.navbar-default .navbar-nav > .active.dropdown > a:before {
    color: #009798;
}
.navbar-default .navbar-nav > .dropdown.open > a:before {
    color: #e5e5e5;
}
.dropdown .dropdown.open>a:before,
.transparent.header:not(.dark) .dropdown .dropdown.open>a:before {
    color: #009798;
}

/* mobile menu toggle button on hover/focus */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fafafa;
    border-color: #009798;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #009798;
}
@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #009798;
        background-color: transparent;
    }

    /* first level items hover and focus states */
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #009798;
        background-color: #fff;
    }

    /* second level items on hover/focus */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #009798;
    }
}

/* Subfooter navigation
---------------------------------- */
.subfooter .navbar-default .nav > li > a:hover,
.subfooter .navbar-default .nav > .active > a:hover,
.subfooter .navbar-default .nav > .active > a:focus {
    background-color: transparent;
    color: #009798;
}

/* 6 Blocks/Widgets
----------------------------------------------------------------------------- */
/* Boxes
---------------------------------- */
.box.gray-bg:hover {
    color: #009798;
}
.box.default-bg:hover {
    background-color: #fff;
    border: 1px solid #009798;
}
.box.default-bg:hover * {
    color: #009798;
}
.box-style-1:not(.team-member):hover i {
    color: #009798;
}
.box-style-1.default-bg:hover i,
.box-style-1.dark-bg:hover i {
    color: inherit;
}
.box-style-2:hover .default-bg {
    background-color: #fff;
    border: 1px solid #009798;
}
.box-style-2:hover .default-bg * {
    color: #009798;
}
.box-style-2:hover .white-bg * {
    color: #009798;
}
.box-style-3:hover .default-bg {
    background-color: #fff;
    border: 1px solid #009798;
}
.box-style-3:hover .default-bg * {
    color: #009798;
}
.box-style-3:hover .white-bg * {
    color: #009798;
}

/* Tags cloud block
---------------------------------- */
.tag a:hover {
    color: #ffffff;
    background-color: #009798;
    border-color: #009798;
}

/* Social icons block
---------------------------------- */
.social-links li a {
    background: #009798;
    border: 1px solid #009798;
    color: #fff;
}
.social-links li a:hover {
    background-color: transparent;
    border-color: #008686;
    color: #008686;
}
.social-links .dropdown.open>button>i:before {
    content: "\f00d";
    color: #009798;
}
.header-top .social-links li a:hover {
    color: #008686;
}

/* search and login
---------------------------------- */
.header-top-dropdown .dropdown.open>button,
.header-top-dropdown .dropdown>button:hover {

    color: #009798;
}

/* Pricing tables
---------------------------------- */
.plan .popover-title {
    background-color: #009798;
    color: #ffffff;
}
.gray .plan .header h3 {
    color: #009798;
}
.white .plan .header {
    color: #fff;
    background: #009798;
}
.stripped .header {
    background: #009798;
    -webkit-box-shadow: 0px 0px 60px #008686 inset;
    -moz-box-shadow: 0px 0px 60px #008686 inset;
    box-shadow: 0px 0px 60px #008686 inset;
    color: #fff;
}

/* 7 Main Slideshow
----------------------------------------------------------------------------- */
/* Slider Revolution captions */
.default_bg {
    background-color: #009798;
    color: #fff;
}

/* Revolution Nav Controls */
.tparrows.round:hover {
    color: #ffffff;
    background-color: #009798;
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
    background-color: #009798;
}
.tp-bannertimer {
    background-color: rgba(0,151,152,0.7);
}

/* 8 Owl carousel
----------------------------------------------------------------------------- */
.owl-prev {
    background-color: #009798;
    color: #f1f1f1;
}
.owl-next {
    background-color: #f1f1f1;
    color: #009798;
}
.content-slider-with-controls .owl-buttons div,
.content-slider-with-controls-autoplay .owl-buttons div {
    background-color: #009798;
    color: #f1f1f1;
}
.content-slider-with-controls .owl-prev:hover,
.content-slider-with-controls .owl-next:hover,
.content-slider-with-controls-autoplay .owl-prev:hover,
.content-slider-with-controls-autoplay .owl-next:hover {
    background-color: #f1f1f1;
    color: #009798;
}
.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
    background: #009798;
}


body.modal-open {
    overflow: hidden;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.mix_contanier .mix {
    width: 40%;
}

.flashAlertFloat{
    width:inherit !important;
    z-index:99;

    position: fixed;
    right: 10px;
    top: 100px;
}

#pestaña-desplegable{
     top:100px !important; position: fixed; transition: all 300ms ease 0s; height: 100%; right: -250px;
}

.panel-heading a:after{

    content: none !important;

}

.dropdown>a:before {
    color: #2f0303 !important;
}

.center{
    margin: auto;
    
    border: 3px solid black;
    padding: 10px;
}
