.wizard{
    margin: 0 auto !important;
}

.wizard ul.nav.nav-tabs{
    margin: 0 auto !important;
}

.wizard .tab-pane{
    padding-top: 0 !important;
}

,mix_container .mix {
    background-color: #333333 !important;
     border-color: #339ecf !important;
 }

 #dias{
     background-color: black !important;
 }