table th a {
    color:white !important;
}

.breadcrumb{

    position: absolute ;
    right: 5% !important;
}

.has-error .control-label{
    color: #A94442 !important;

}

.has-success .control-label{
    color: #2A9324 !important;

}

div .section.default-bg{
    color: black !important;
}
div .section.default-bg form input,div .section.default-bg form select, div textarea
{
    color: rgb(0, 0, 0) !important;
    background-color: white !important;
}

div .section.default-bg form input:focus,div .section.default-bg form select:focus,div textarea:focus
{
    color: rgb(0, 0, 0) !important;
    background-color: #F5F5F5 !important;

}

.form-control{
    border-color: #ACACAC !important;
}



#pestaña-desplegable{
    /*background-color: #BDBDBD;*/
    color: #fff;
    z-index: 1002;
}
/*.left-shadow-overlay{
    box-shadow: 10px 0 15px 10px #585858;
}*/
/*#pestaña-desplegable h3{
    background-color: #2E2E2E;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
}*/
#pestaña-desplegable a{
    border-bottom: 1px solid #D8D8D8;
    /*padding: 1em;*/
    display: block;
    color: #424242;
    font-size: 1.4em;
    font-weight: 300;
    text-decoration: none;
}
#pestaña-desplegable a:hover{
    background-color: #D8D8D8;
}
#pestaña-desplegable .handle{
    background-color: #2E2E2E;
    /*left: -40px;*/
    left: -38px;
    padding: 10px;
    position: absolute;
    top: 0px;
    /*width: 20px;*/
    width: 39px;
    cursor: pointer;
    /*margin-top: -20px;*/
    /*-moz-transition: 200ms ease all;
    -webkit-transition: 200ms ease all;
-o-transition: 200ms ease all;
transition: 200ms ease all;*/
}
#pestaña-desplegable .handle:hover{
    /*left: -46px;
    width: 30px;*/
}


.btn-light-gray {
    background-color: #009798 !important; 
    border-color: #f3f3f3 !important;
    color: white !important;
}







/*MIXIT UP*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, button{
    font-family: 'Helvetica Neue', arial, sans-serif;
}

.controls{
    padding: 2%;
    background: #333;
    color: #eee;
}

label{
    font-weight: 300;
    margin: 0 .4em 0 0;
}

button{
    display: inline-block;
    padding: .4em .8em;
    background: #666;
    border: 0;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}

button.active{
    background: #68b8c4;
}

button:focus{
    outline: 0 none;
}

button + label{
    margin-left: 1em;
}

.mix_contanier{
    padding: 2% 2% 0;
    text-align: justify;
    /*font-size: 0.1px;*/
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 4% 6%;
    font-weight: 700;
    background: #68b8c4;

    -webkit-backface-visibility: hidden;
}

.mix_contanier:after{
    content: '';
    display: inline-block;
    width: 100%;
}

.mix_contanier .mix,
.mix_contanier .gap{
    display: inline-block;
    width: 49%;
}

.mix_contanier .mix{
    text-align: left;
    background: #03899c;
    margin-bottom: 2%;
    display: none;

    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    /*overflow:hidden;*/
    /*background:#F6E7B9;*/
    -webkit-box-shadow:0 0 4em rgb(4,6,5);
    -moz-box-shadow:0 0 3em rgb(6,7,8);
    box-shadow:0 0 1em rgb(5,9,2);
    border:9px solid skyblue;
}

.mix_contanier .mix.category-DESAYUNO{
    border-left-color: limegreen;
}

.mix_contanier .mix.category-ALMUERZO{
    border-left-color: #ffff99;
}
.mix_contanier .mix.category-REFRIGERIO_DE_LA_MAÑANA{
    border-left-color: #ffcccc;
}

.mix_contanier .mix.category-REFRIGERIO_DE_LA_TARDE{
    border-left-color: #99ffff;
}

/*.mix_contanier .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}*/

.mix_contanier .mix:before{
    content: '';
    display: inline-block;
    /*padding-top: 60%;*/
}

@media all and (min-width: 420px){
    .mix_contanier .mix,
    .mix_contanier .gap{
        width: 32%;
    }
}

@media all and (min-width: 640px){
    .mix_contanier .mix,
    .mix_contanier .gap{
        width: 23.5%;
    }
}







