
/*table striped column*/
/*.table-striped-column > tbody > tr td:nth-of-type(odd) {
    background-color: #f9f9f9;*/
/*}*/
/*.table-striped-column > tbody > tr td:nth-of-type(even) {
    background-color: #f9f9f9;
} */
/*

parallax-nutricion {
    background: url("../images/parallax-bg-3.jpg") 50% 0px no-repeat;
}*/


td {
    border-collapse: collapse;
    border: 1px black solid;
}
tr:nth-of-type(5) td:nth-of-type(1) {
    visibility: hidden;
}
.rotate {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    height: 100px;
    line-height: 1;
    /*bottom: 8px;*/
    position: relative;
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    /*filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);*/
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);
}